.header {
  width: 100%;
  height: 7.5rem;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font: 900 3rem arial, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 676px) {
  .header {
    height: 6rem;
    font: 700 2rem arial, sans-serif;
  }
}
